/* *{
    margin: 0;
    padding: 0;
  } */
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
  }
  
  body {
    color: #333;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.295);
  }
  
  main {
    flex: 1 0 auto;
  }

  .login-card {
      margin: 0;
      padding:0;
      background-color: rgb(103, 100, 100);
  }