* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.295);
}

header {
    z-index: 5;
}

h1 p {
    color: white;
}

.landing-zone {
    font-family: cursive;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    text-align: center;
    text-shadow: 1px 2px 2px rgb(32, 12, 35);
}


