.login-body {
 
  background-color: rgb(3, 0, 0);
}

.login-card {
  display: true;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 5px;
  margin: 0;
  background: rgb(231, 229, 229);
  box-shadow: 0 4px 8px 0 rgb(121, 3, 240), 0 6px 20px 0 hsla(319, 96%, 44%, 0.669);
  border-radius: 20px;
  height: 54vh;
  width:50vh;
  z-index: 4;
}

.spin-container {
  position: absolute;
  display: inline;
  top: 25%;
  right:10%;
  transform: translate(-50%, -50%);
}
.spin {
  visibility: hidden;
  border: 3px solid #0D4B9F;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader2 {
  border: 3px solid #E0EDFF;
  width: 220px;
  height: 220px;
  position: relative;
  top: -216px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader3 {
  border: 3px solid #005CDC;
  width: 240px;
  height: 240px;
  position: relative;
  top: -452px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader4 {
  border: 3px solid #94B6E5;
  width: 260px;
  height: 260px;
  position: relative;
  top: -708px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
@keyframes rotate {
  0% {
    transform: rotateZ(-360deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateZ(360deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}
#text {
  color: #06012f;
  font-family: Arial;
  font-size: 15px;
  position: relative;
  top: -857px;
}


.form-content{
  margin: 10px;
}
.userbutton {
  margin: 2px;
}